*.DS_Store
**.o
*.vscode*
**/CMakeFiles
**/CMakeFiles/*
**/CMakeCache.txt
**/cmake_install.cmake
*.ko
**/.tmp_versions/*
**/modules.order
**/*.mod.c
**/Module.symvers
**/*.cmd
harvester/balloon/Makefile
harvester/balloon/balloon
harvester/cmanager/Makefile
harvester/cmanager/cmanager
harvester/producer-cli/producer-cli
harvester/server/broker
harvester/server/producer
harvester/server/consumer
